<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

	<title>Symmetrical Happiness - Login</title><link href="https://fonts.googleapis.com/css2?family=Changa+One&display=swap" rel="stylesheet">

	<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">




</head>

<body style="padding: 2%; font-family: 'Thasadith', sans-serif;">
    <div class="se-pre-con"></div>
    <script>
        $(window).load(function() {
		$(".se-pre-con").fadeOut("slow");;
	});

    </script>
	<p onmousedown = 'return false' onselectstart = 'return false' style="font-family: 'Changa One', cursive;;font-size:85px;color: #e8175d;text-align: center;">POKETQ</p>

	<div class="panel col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4" id=”content-mobile”>



		<div class="panel-heading" style="padding-top:12px;
				padding-left:0%;padding-right:0%;padding-bottom:12px;

				background-color: white; text-align:left;">
			<h3 style="font-family: 'Changa One', cursive;font-size:30px;color: gray;text-align: left;" class="
							panel-title">Login</h3>

		</div>

					<div class="panel" style="padding: 5%;">
						<form role="form" action="{{url_for('main.user_login_action')}}" method="POST">
							<div class="form-group" style="text-align: center;">
								{% with messages = get_flashed_messages() %}
								{% if messages %}
								{% for message in messages %}
								{% if message == "Registration successful, now log in." or
									message == "Successfully logged out.":%}
								<div class="alert alert-success" role="alert">
									{{ message }}
								</div>
								{% else: %}
								<div class="alert alert-danger" role="alert">
									{{ message }}
								</div>
								{% endif %}
								{% endfor %}
								{% endif %}
								{% endwith %}
							</div>

							<div class="form-group">
								<input type="text" name="username" data-validation="required length"
									data-validation-error-msg="Username will be 5 to 15 letters long."
									data-validation-length="5-15" class="input is-rounded" placeholder="Username">
							</div>

							<div class="form-group">
								<input type="password" name="password" data-validation="required length"
									class="input is-rounded" placeholder="PIN" data-validation-length="4">
							</div>
							<input type="submit" value="Login" class="button is-danger is-rounded is-fullwidth"><br>
							<a href="{{url_for('main.user_register')}}" value="Register" class="button is-danger is-rounded is-outlined is-fullwidth">Register</a>
							<br>
							<a href=""><div style="color: brown;text-align: center;">Reset Password</div></a><br>

						</form>
					</div>




			<script>
				$.validate({
					lang: 'en'
				});
			</script>
			</div>
</body>

</html>
